{% extends 'base.html.twig' %}
{% block title %}New Course{% endblock %}
{% block body %}
    <h1>New Course</h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
