{% extends 'base.html.twig' %}
{% block title %}Katalog kursów{% endblock %}
{% block body %}
    <h1>Katalog kursów</h1>
    <ul>
    {% for course in courses %}
        <li><a href="{{ path('catalog_detail', {id: course.id}) }}">{{ course.title }}</a></li>
    {% else %}
        <li>Brak opublikowanych kursów.</li>
    {% endfor %}
    </ul>
{% endblock %}
