{% extends 'base.html.twig' %}
{% block title %}Course Catalog{% endblock %}
{% block body %}
    <h1>Course Catalog</h1>
    <ul>
    {% for course in courses %}
        <li><a href="{{ path('catalog_detail', {id: course.id}) }}">{{ course.title }}</a></li>
    {% else %}
        <li>No published courses.</li>
    {% endfor %}
    </ul>
{% endblock %}
